@media (min-width: 1024px) and (max-width: 1216px) {
  .container {
    width: 1200px;
  }
}

.table-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  margin-bottom: 15px;
  color: #89A727;
}

table.table {
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  font-weight: 500;
}
table.table thead tr {
  background-color: #89A727;
  color: #fff;
}
table.table thead tr th {
  font-weight: 500;
  white-space: pre;
}
table.table tbody tr th {
  font-weight: 500;
  white-space: pre;
}
table.table tbody tr th a {
  color: #000;
}
table.table tbody tr td {
  font-weight: 500;
}

.navbar-brand .icon-rice {
  color: #fff;
  font-size: 40px;
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
  padding: 1.75rem 2rem;
}
@media (max-width: 768px) {
  .jumbotron {
    padding: 1.75rem 0rem;
  }
}
.jumbotron figure {
  display: block;
}

.page-title {
  text-align: center;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
}
.page-title.show .btn {
  background: transparent;
  color: #000;
}
.page-title.show .btn:focus {
  outline: none;
  box-shadow: none;
}
.page-title .btn {
  font-size: 30px;
  background: transparent;
  color: #000;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
}

.table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.icon-rice {
  color: #89A727;
}

.breadcrumb-container {
  color: #000;
  background-color: #f2f2f2;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
}
.breadcrumb-container .breadcrumb {
  padding: 30px 0;
  background-color: transparent;
}
.breadcrumb-container .breadcrumb a {
  color: #89A727;
}

nav.navbar {
  background-color: #89A727;
  display: flex;
  color: #fff;
}
nav.navbar .navbar-brand {
  color: #fff;
}
nav.navbar .nav-link {
  color: #fff;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
}
nav.navbar .navbar-toggler {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

.top-area {
  margin: 0 0 2rem 0;
  border-radius: 0;
  width: 100%;
  min-height: 350px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url("../image/rice.jpeg");
  display: flex;
  align-items: center;
}
.top-area .container {
  height: 100%;
}
.top-area .flex {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .top-area .flex {
    align-items: flex-start;
  }
}
.top-area .flex .row {
  flex-grow: 1;
}
.top-area .flex .row .box {
  border: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .top-area .flex .row .box {
    margin-bottom: 5px;
  }
}
.top-area .flex .row .box p {
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .top-area .flex .row .box p {
    font-size: 16px;
  }
}
.top-area .flex .row .box h3.top-area-price {
  font-weight: 700;
  color: #89A727;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 768px) {
  .top-area .flex .row .box h3.top-area-price {
    font-size: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .top-area .flex .row .box h3.top-area-price {
    font-size: 22 !important;
  }
}
@media (min-width: 1024px) and (max-width: 1216px) {
  .top-area .flex .row .box h3.top-area-price {
    font-size: 32px;
  }
}
.top-area .flex .row .box span {
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
}
@media (max-width: 768px) {
  .top-area .flex .row .box span {
    font-size: 14px;
  }
}

.updated-price nav.nav {
  margin-bottom: 5px;
}
.updated-price nav.nav a {
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  color: #000;
  cursor: pointer;
}
.updated-price nav.nav a.active {
  font-weight: 700;
}

footer {
  background-color: #89A727;
  color: #fff;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  padding-bottom: 0;
}
footer .text-muted {
  color: #fff !important;
  line-height: 2;
  font-family: "Open Sans", "Phetsarath_OT", sans-serif;
  font-weight: normal;
}

/*# sourceMappingURL=css.css.map */
