.header-social-share{
    display: flex;
    .social-share{
        display:block;
        overflow:hidden;
        margin:1rem 0
        }
    .social-share ul{
        margin:0;
        padding:0;
        list-style:none
        }
    li.share-now i{
        font-size:18px;
        height:30px;
        text-align:center
    }
    .social-share ul li{
        float:left;
        margin-left:1rem
    }
    .social-share ul li a i{
        color:#fff;
        font-size:18px;
        padding:6px;
        height:30px;
        width:40px;
        text-align:center;
        border-radius:3px;
        opacity:1
    }
    .social-share ul li a i:hover{
        opacity:.7
    }
    .social-share ul li a i.fa-twitter{
        background-color:#1da1f2
    }
    .social-share ul li a i.fa-facebook-f{
        background-color:#3b5998
    }
    .social-share ul li a i.fa-whatsapp{
        background-color:#25d366
    }
    .social-share ul li a i.fa-envelope{
        background-color:#222831
    }
    .social-share ul li a i.fa-reddit-alie{
        background-color:#ff4500
    }
    .social-share ul li a i.fa-linkedin-in{
        background-color:#0077b5
    }
    .social-share ul li a i.fa-pinterest-p{
        background-color:#e60023
    }
    @media (max-width:767px){
        li.share-now{
            display:none
        }
    }
}

.main-content{
    .card.bottom-news-content{
        width: 18rem;
        .card-body{
            h5.card-title-text-ellipsis{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            p.card-text-ellipsis{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
    }
    .news-content-left{
        .image-content-read{
            
            img{
                width: 715px;
            }
        }
        .content-read-title{
            padding-top: 15px;
            p{
                font-size: 18px;
                line-height: 150%;
            }
        }
    }
    .news-content-right{
        ul.top-content{
            list-style-type: none;
            margin: 0px 10px;
            line-height: 200%;
            a{
                color: black;
            }
            a:hover{
                color: green;
            }
        }
        ul.bottom-content{
            margin: 0px 10px;
            line-height: 200%;
            a{
                li{
                    color: black;
                }
            }
            a:hover{
                color: green;
            }
        }
    }
}