header{
    font-family: $font;
}
article{
    font-family: $font;
    padding-top: 15px;
}
.image-container{
    img{
        width: 100%;
        display: block;
    }
}

.social-share-container{
    display: flex;
    .social-share{
        display:block;
        overflow:hidden;
        margin:1rem 0
        }
    .social-share ul{
        margin:0;
        padding:0;
        list-style:none
        }
    li.share-now i{
        font-size:18px;
        height:30px;
        text-align:center
    }
    .social-share ul li{
        float:left;
        margin-left:1rem
    }
    .social-share ul li a i{
        color:#fff;
        font-size:18px;
        padding:6px;
        height:30px;
        width:40px;
        text-align:center;
        border-radius:3px;
        opacity:1
    }
    .social-share ul li a i:hover{
        opacity:.7
    }
    .social-share ul li a i.fa-twitter{
        background-color:#1da1f2
    }
    .social-share ul li a i.fa-facebook-f{
        background-color:#3b5998
    }
    .social-share ul li a i.fa-whatsapp{
        background-color:#25d366
    }
    .social-share ul li a i.fa-envelope{
        background-color:#222831
    }
    .social-share ul li a i.fa-reddit-alie{
        background-color:#ff4500
    }
    .social-share ul li a i.fa-linkedin-in{
        background-color:#0077b5
    }
    .social-share ul li a i.fa-pinterest-p{
        background-color:#e60023
    }
    @media (max-width:767px){
        li.share-now{
            display:none
        }
    }
}

ul.list-group{
    list-style-type: none;
    line-height: 200%;
    font-family: $font;
    margin-bottom: 20px;
    li{
        &.title{
            color: $primary-color;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        & a{
            color: black;
        }
        &.has-count{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0px;
        }
    }
}