.table-title{
    font-size: 24px;
    font-weight: 700;
    font-family: $font;
    margin-bottom: 15px;
    color: $primary-color;
}
table.table{
    font-family: $font;
    font-weight: 500;
    thead{
        tr{
            background-color: $primary-color;
            color: #fff;
            th{
                font-weight: 500;
                white-space: pre;
            }
        }
    }
    tbody{
        tr{
            th{
                font-weight: 500;
                white-space: pre;
                a{
                    color: $font-color;
                }
            }
            td{
                font-weight: 500;
            }
        }
    }
}