//Color variable
// $primary-color: #89A727;
$primary-color: #558E24;
$light-grey-color: #f2f2f2;
$border-color: #ddd;
$font-color: #000;
$font: 'Open Sans', 'Phetsarath_OT', sans-serif;

@import './screen';
@import './table';
@import './_card';
@import './_rice';
@import './news';
@import './read-news';

// Global style start here
.navbar-brand .icon-rice{
    color: #fff;
    font-size: 40px;
}
.navbar .navbar-brand.logo-main{
    img{
        width: 150px;
    }
}
// nav .container .navbar-brand span{
//     background-position: center;
//     background-size: cover;
// }

.jumbotron{
    background-color: #fff;
    margin-bottom: 0;
    padding: 1.75rem 2rem;
    @include mobile{
        padding: 1.75rem 0rem;
    }
    figure{
        display: block;
    }
}
.section-title{
    font-family: $font;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}
.page-title{
    text-align: center;
    font-family: $font;
    &.show  .btn{
        background: transparent;
        color: $font-color;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .btn{
        font-size: 30px;
        background: transparent;
        color: $font-color;
        border-top: 0;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
    }

}

// make table scrollable
.table-container{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

// Tabs
nav.nav{
    margin-bottom: 5px;
    a{
        font-family: $font;
        color: $font-color;
        cursor: pointer;
        &.active{
            font-weight: 700;
        }
    }
}

.icon-rice{
    color: $primary-color;
}


.breadcrumb-container{
    color: $font-color;
    background-color: $light-grey-color;
    font-family: $font;
    .breadcrumb{
        padding: 30px 0;
        background-color: transparent;
        a{
            color: $primary-color;
        }
    }
}
// Global style end here


// navbar start here
nav.navbar{
    background-color: $primary-color;
    display: flex;
    color: #fff;
    .navbar-brand{
        color: #fff;
    }
    .nav-link{
        color: #fff;
        font-family: $font;
        &.active{
            font-weight: bold;
            border-bottom: 1px solid #fff;
        }
    }
    .navbar-toggler{
        border: none;
    }
}
// navbar end here


// Top area index page start here
.produst-lists{
    .box{
        padding: 20px;
        border-radius: 5px;
        height: 200px;
        background-position: center;
        background-size: cover;
        position: relative;
        border: 3px solid $primary-color;
        cursor: pointer;
        .dark-bg{
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(#000, .5);
            z-index: 999;
        }
        p{
            position: absolute;
            font-size: 18px;
            margin: 0;
            bottom: 0;
            left: 0;
            background-color: $primary-color;
            padding: 5px 20px;
            z-index: 999;
            border-radius: 0 5px 0 0;
            color: #fff;
            font-family: $font;
        }
        &.rice{
            background-image: url('../image/rice.jpg');
            .dark-bg{
                background-color: transparent;
            }
        }
        &.corn{
            background-image: url('../image/corn.jpg');
        }
        &.vegetable{
            background-image: url('../image/vegetables.jpg');
        }
        @include mobile{
            margin-bottom: 5px;
        }
    }
}
// Top area index page start here


// ເນື້ອທີ່ການຜະລິດ
ul.area-list{
    padding: 0;
    li{
        font-family: $font;
        margin: 0;
        padding: 10px 0;
        list-style-type: none;
        border-top: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        &:last-child{
            border-bottom: 1px solid $border-color;
        }
        span{
            ul.area-list a{
                text-decoration: none;
                color: black;
            }
            &:last-child{
                font-weight: bold;
                color: $primary-color;
                
            }
            
        }
    }
}
//ເນື້ອທີ່ການຜະລິດ


// Footer start here
footer{
    background-color: $primary-color;
    color: #fff;
    font-family: $font;
    padding-bottom: 0;
    .text-muted{
        color: #fff !important;
        line-height: 2;
        font-family: $font;
        font-weight: normal;
    }

    
}
// Footer end here
