//Color variable
$primary-color: #89A727;
$light-grey-color: #f2f2f2;
$font-color: #000;
$font: 'Open Sans', 'Phetsarath_OT', sans-serif;
// media query
@import './screen';
@import './table';

// Map Color
// Vientiane Province


// Global style start here
.navbar-brand .icon-rice{
    color: #fff;
    font-size: 40px;
}
.jumbotron{
    background-color: #fff;
    margin-bottom: 0;
    padding: 1.75rem 2rem;
    @include mobile{
        padding: 1.75rem 0rem;
    }
    figure{
        display: block;
    }
}

.page-title{
    text-align: center;
    font-family: $font;
    &.show  .btn{
        background: transparent;
        color: $font-color;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .btn{
        font-size: 30px;
        background: transparent;
        color: $font-color;
        border-top: 0;
        border-left: 0;
        border-radius: 0;
        border-right: 0;
    }

}

// make table scrollable
.table-container{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
nav.nav{
    margin-bottom: 5px;
    a{
        font-family: $font;
        color: $font-color;
        cursor: pointer;
        &.active{
            font-weight: 700;
        }
    }
}
.icon-rice{
    color: $primary-color;
}
.breadcrumb-container{
    color: $font-color;
    background-color: $light-grey-color;
    font-family: $font;
    .breadcrumb{
        padding: 30px 0;
        background-color: transparent;
        a{
            color: $primary-color;
        }
    }
}
// Global style end here


// navbar start here
nav.navbar{
    background-color: $primary-color;
    display: flex;
    color: #fff;
    .navbar-brand{
        color: #fff;
    }
    .nav-link{
        color: #fff;
        font-family: $font;
    }
    .navbar-toggler{
        background-color: rgba(#000, .3);
        border: none;
    }
}
// navbar end here

// Top area start here
.top-area{
    margin: 0 0 2rem 0;
    border-radius: 0;
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url("../image/rice.jpeg");
    display: flex;
    align-items: center;
    .container{
        height: 100%;
    }
    .flex{
        display: flex;
        align-items: center;
        height: 100%;
        @include mobile{
            align-items: flex-start;
        }
        .row{
            flex-grow: 1;
            .box{
                border: none;
                padding: 20px;
                background-color: rgba(#fff, .9);
                border-radius: 5px;
                
                @include mobile{
                    margin-bottom: 5px;
                }
                p{
                    font-family: $font;
                    line-height: 1.5;
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                    @include mobile{
                        font-size: 16px;
                    }
                }
                h3.top-area-price{
                    font-weight: 700;
                    color: $primary-color;
                    font-family: $font;
                    line-height: 1.5;
                    margin: 0;
                    @include mobile{
                        font-size: 20px !important;
                    }
                    @include tablet{
                        font-size: 22 !important;
                    }
                    @include desktop{
                        font-size: 32px;
                    }
                }
                span{
                    font-family: $font;
                    @include mobile{
                        font-size: 14px;
                    }
                }
            }
        }
    }
} //top-area

// Top area end here


// Footer start here
footer{
    background-color: $primary-color;
    color: #fff;
    font-family: $font;
    padding-bottom: 0;
    .text-muted{
        color: #fff !important;
        line-height: 2;
        font-family: $font;
        font-weight: normal;
    }

    
}
// Footer end here
